h2.members-header{
	color: red;
}

ul {
	list-style-type: none;
}

img.eboard{
	margin: auto;

}

div img.eboard_pics{
	margin: auto;
}

div.each_class{
	text-align: center;
}

.each_class p{
	color: black;
}
