h2.members-header{
	color: red;
}

ul {
	list-style-type: none;
}

img.eboard{
	margin: auto;

}

div img.eboard_pics{
	margin: auto;
}

div.each_class{
	text-align: center;
}

.each_class p{
	color: black;
}

h2.description{
	font-size: 100%;
}

p.pd{
	font-size: 50%;
}
#title {
    /* Mobile/Tablet styles (xs, sm) */
		margin: 20% 0 10px 0;
}
@media (min-width: 991px) {
    #title {
        /* Tablet/Desktop styles (md, lg) */
				margin: 10% 0 5px 0;
    }
}
